/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --dark-background-or-text: #070707;
  --light-blue-accent: #31c1ff;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

#top-header {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.siteName>a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--dark-background-or-text);
}

.siteName>a:visited {
  text-decoration: none;
  color: var(--dark-background-or-text);
}

#tools>a {
  text-decoration: none;
  color: var(--dark-background-or-text);
}

.nav-bar {
  background-color: var(--dark-background-or-text);
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-bar li {
  color: white;
  list-style: none;
  line-height: 44px;
  cursor: pointer;
}

.hero {
  background-image: url("../images/vehicles/delorean.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 90vw;
  aspect-ratio: 100 / 51;
  margin: 0 auto;
  position: relative;
}

.cta-float {
  background-color: rgba(255, 255, 255, 0.55);
  max-width: 180px;
  padding: 5px;
  color: var(--light-blue-accent);
  position: absolute;
  left: -15px;
  top: -10px;
}

.cta-float>h2, .cta-float>ul, .cta-float>button {
  margin: 0;
}


.cta-float>ul {
  list-style: none;
  padding: 0;
}

.hero-button {
  background-color: var(--light-blue-accent);
  height: 44px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px;
}

.section-grid>div>h1 {
  margin-bottom: 0;
}

.section-grid>div>ul {
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.section-grid>div>ul>li {
  padding: 0.5rem 0;
}

.upgrade-grid {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.upgrade {
  text-align: center;
}

.blue-rectangle {
  width: 100%;
  aspect-ratio: 20 / 9;
  background-color: var(--light-blue-accent);
  border: 1px solid var(--dark-background-or-text);
  display: flex;
  align-items: center;
  justify-content: center;
}